<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Eat-dah-burger</title>
	<!-- Latest compiled and minified CSS & JS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../public/assets/css/style.css">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="/public/assets/js/main.js"></script>
</head>
<body>
	<div class="container">
		<div class="eat-da-burger">
			<img class="center" src="../../public/assets/images/theBurger.png" alt="">
			<h4 class="text-center" style="margin-bottom: 30px;">Eat-dah-burger</h4>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div class="row">
					<div class="col-lg-6">
						<div class="burger burgerRow center">Stoner Burger</div>
					</div>
					<div class="col-lg-6">
						<button class="center burgerRow">Devour?!</button>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="burger burgerRow center">Stoner Burger</div>
					</div>
					<div class="col-lg-6">
						<button class="center burgerRow">Devour?!</button>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="burger burgerRow center">Stoner Burger</div>
					</div>
					<div class="col-lg-6">
						<button class="center burgerRow">Devour?!</button>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="row">
					<div class="col-lg-6">
						<div class="eaten">Stoner Burger</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="eaten">Stoner Burger</div>
					</div>
				</div>
			</div>
		</div>
		<br><br>
		<form>
			<input id="newBurger" class="center" type="text">
		</form>
		<br>
		<button class="center btn btn-success" type="submit">Submit</button>
	</div>
</body>

</html>