body {
    background-color: yellow;
}
 
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.burger-div {
    display: inline;
}

.burger {
    color: white;
    background-color: red;
}

.burgerRow{
    margin: 10px;
    border-radius: 6px;
    font-size: 30px;
    padding: 5px;
}

.eaten {
    color: white;
    margin: 2px;
    border-radius: 6px;
    font-size: 20px;
    padding: 5px;
    background-color:black;
}